{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    },
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "settings": {
    "ecmascript": 6,
    "flowtype": { "onlyFilesWithFlowAnnotation": true },
    "jsx": true
  },
  "plugins": [
    "flowtype",
    "react"
  ]
}
