[Unit]
Description=watchtower
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill watchtower
ExecStartPre=-/usr/bin/docker rm watchtower
ExecStartPre=/usr/bin/docker pull v2tec/watchtower
ExecStart=/usr/bin/docker run --name watchtower -v /var/run/docker.sock:/var/run/docker.sock v2tec/watchtower

[Install]
WantedBy=multi-user.target

