**/.cabal
**/.cabal-sandbox
**/Test/QuickCheck/Regex
**/cache
./.HTF
./dist
./dist-newstyle
./js/node_modules
./js/obj
./obj/.cabal
./obj/cabal-store
./obj/cache
./obj/dist-newstyle/cache
./obj/dist-newstyle/tmp
./obj/packagedb
./obj/tmp
.git
