.regexicon-main {
  width: auto;
  padding: 0;
  font-size: 44px;
}

p {
  padding: 0 0.5em;
}

input {
  height: 100px;
  font-size: 1em;
  padding: 0 0 0 0.5em;
}

button {
  height: 112px;
  font-size: 90px;
}


.examples,
.examples ul {
  flex-direction: column;
}
