body {
  background: #ECECEC;
  color: #191919;
  font-family: Helvetica neue, Helvetica, Arial, sans-serif;
  font-size: 22px;
  margin: auto;
  padding: 3em;
  width: 40em;
}

ul {
  list-style-type: none;
  padding: 0;
}

.results {
  font-family: OCR-A, Monaco, Courier, monospace;
}

a {
  text-decoration: none;
}

.results li {
  background: rgba(239, 186, 37, 0.5);
  color: #191919;
  font-size: 1em;
  margin: 0.25em 0;
  padding: 0.25em;
  text-overflow: ellipsis;
}

button,
input {
  background: white;
  border: 1px solid #d0d0d0;
  color: #191919;
  font-size: 2em;
  height: 66px;
  padding: 5px;
}

button:focus,
input:focus {
  outline: none;
  border-color: rgb(239, 186, 37);
  border-width: 1px;
}

form {
  display: flex;
  flex-direction: row;
}

input {
  width: 100%;
}

button {
  border-width: 1px 1px 1px 0px;
  font-size: 2.7em;
  height: 78px;
}

.examples {
  display: flex;
  flex-direction: row;
  line-height: 2em;
}
.examples span {
}
.examples ul {
  margin: 0;
  display: flex;
  flex-direction: row;
}
.examples li {
  margin: 0 0 0 1em;
}
